@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

.icon-button {
  transform: scale(0.9);
  transition: transform 200ms ease-in-out;
}

.icon-button:hover {
  transform: scale(1);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 300px) {
  .chatInput {
    max-width: 65%;
  }
}
